@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/manrope-v15-latin-800.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(32, 39, 51);
}

.card {
  position: relative;
  margin-top: 223px;
  width: 540px;
  border-radius: 15px;
  box-shadow: 30px 50px 80px 0px rgba(0, 0, 0, 0.1);
  background: rgb(49, 58, 72);
}

.advice-slip {
  text-align: center;
  p {
    /* Heading */
    color: rgb(83, 255, 170);
    font-size: 20px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 4.09px;
    text-align: center;
    margin-top: 42px;
  }

  h2 {
    color: rgb(206, 227, 233);
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.3px;
    text-align: center;
    margin-left: 42px;
    margin-right: 42px;
  }
}

.line {
  height: 1px;
  width: 196px;
  background: rgb(79, 93, 116);
}

.line__wrapper {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.btn {
  position: absolute;
  background: none;
  border: none;
  /* background-image: url("./Shape.png");
  background-repeat: no-repeat;
  background-position: center; */
  width: 64px;
  height: 64px;
  bottom: -14%;
  left: 44%;
  cursor: pointer;
  /* Neon Green */
background: rgb(83, 255, 170);
border-radius: 50%;
}

.btn:hover {

    box-shadow: 0px 0px 40px 0px rgb(83, 255, 170);
    /* Neon Green */
    background: rgb(83, 255, 170);
}
